.cabecalho {
    align-items: center;
    background: white;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 1.55rem;
    width: 10%;
}

.menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: black;
    font-weight: bold;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link:hover {
    color: blue;
}
